.parent{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
.heading{
    color: green;
    padding: 0.4rem;
}
.btn{
    color: white;
    background-color: blue;
    padding: 10px 20px;
    
}