.pp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box{
  width: 50vh;
  background-color: rgb(60, 46, 65);
  color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 11px 2px black;
  display: flex;
  flex-direction: column;
  padding: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}
.tittle{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.box img{
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  box-shadow: 1px 1px 18px 1px rgb(233, 133, 71);
  padding: 0.4rem;
  background-color: grey;
  margin: 1rem ;
}
.box p{
  font-size: 2rem;
  font-weight: bolder;
  padding-left: 0.4rem;
  color: rgb(85, 255, 255);
}
.btn{
  padding: 0.5rem 3rem;
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
  background-color: blue;
  border-radius: 10rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}